<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        .modal {
            display: block !important;
            top: 160px !important;
            overflow: initial !important;
        }

        .fade {
            opacity: 1 !important;
        }

        .top150 {
            margin-top: 230px;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="content">
            <h1>对话框</h1>
            <h5>对话框简介</h5>
            <h2>示例</h2>
            <table class="example top150">
                <tfoot>
                    <tr>
                        <td>
                            <div id="codeDiv" class="codeDiv">
                                <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                <span class="showDivSpan">
                                    <span>显示代码</span>
                                </span>
                            </div>
                            <div class="codeArea">
                                <div>
                                    <p>$.DialogWrapper({
                                        height: "200px",
                                        width: "300px",
                                        title: "对话框标题",
                                        content: "对话框内容",
                                        padding: "15px",
                                        })</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <h2>参数</h2>
            <table class="normal">
                <thead>
                    <th>参数</th>
                    <th>说明</th>
                    <th>类型</th>
                    <th>可选值</th>
                    <th>默认值</th>
                </thead>
                <tbody>
                    <tr>
                        <td>height</td>
                        <td>对话框的高度</td>
                        <td>String</td>
                        <td>一</td>
                        <td>400px</td>
                    </tr>
                    <tr>
                        <td>width</td>
                        <td>对话框的宽度</td>
                        <td>String</td>
                        <td>一</td>
                        <td>600px</td>
                    </tr>
                    <tr>
                        <td>title</td>
                        <td>对话框的标题</td>
                        <td>String</td>
                        <td>一</td>
                        <td>对话框</td>
                    </tr>
                    <tr>
                        <td>content</td>
                        <td>对话框内容</td>
                        <td>String</td>
                        <td>一</td>
                        <td>对话框内容</td>
                    </tr>
                    <tr>
                        <td>padding</td>
                        <td>对话框body 内边距</td>
                        <td>String</td>
                        <td>一</td>
                        <td>15px</td>
                    </tr>
                    <tr>
                        <td>headerColor</td>
                        <td>对话框头部颜色</td>
                        <td>String</td>
                        <td>String/null</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>splitColor</td>
                        <td>head 与 body 分割线颜色</td>
                        <td>String</td>
                        <td>String/null</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>frame</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                    </tr>
                    <tr>
                        <td>enableMax</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                    </tr>
                    <tr>
                        <td>onCloseEvent</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                        <td>一</td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
</body>

</html>