<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>确认框</title>
    <style>
        .cr-confirm-container {
            position: static !important;
            margin-top: 160px !important;
            visibility: initial !important;
        }
        .top150 {
            margin-top: 150px;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="content">
            <h1>确认框</h1>
            <h5>确认框简介</h5>
            <h2>示例</h2>
            <table class="example top150">
                <tfoot>
                    <tr>
                        <td>
                            <div id="codeDiv" class="codeDiv">
                                <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                <span class="showDivSpan">
                                    <span>显示代码</span>
                                </span>
                            </div>
                            <div class="codeArea">
                                <div>
                                    <p>$.ConfirmWrapper({ text: "是否确认" })</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <h2>参数</h2>
            <table class="normal">
                <thead>
                    <tr>
                        <th>参数</th>
                        <th>说明</th>
                        <th>类型</th>
                        <th>可选值</th>
                        <th>默认值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>text</td>
                        <td>确认框的内容</td>
                        <td>String</td>
                        <td>一</td>
                        <td>一</td>
                    </tr>
                </tbody>
            </table>
            <h2>事件</h2>
            <table class="normal">
                <thead>
                    <th>事件名</th>
                    <th>说明</th>
                    <th>参数</th>
                </thead>
                <tbody>
                    <tr>
                        <td>done</td>
                        <td>点击确定按钮</td>
                        <td>一</td>
                    </tr>
                    <tr>
                        <td>cancel</td>
                        <td>点击取消按钮</td>
                        <td>一</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <h1></h1>
    </div>
</body>

</html>