<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>加载动画框</title>
    <style>
        .modal {
            display: block !important;
            top: 160px !important;
        }

        .fade {
            opacity: 1 !important;
        }
        .top150{
            margin-top: 150px;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="height: 100%;">
        <div class="content">
            <h1>加载动画框</h1>
            <h5>加载动画框简介</h5>
            <h2>示例</h2>
            <table class="example top150">
                <tfoot>
                    <tr>
                        <td>
                            <div id="codeDiv" class="codeDiv">
                                <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                <span class="showDivSpan">
                                    <span>显示代码</span>
                                </span>
                            </div>
                            <div class="codeArea">
                                <div>
                                    <p>$.LoaderWrapper()</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>

</html>